@page
@using HamroCrafts.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hamro Crafts</h1>
    <p>Beautiful homemade crafts for everyone. </p>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

@(await Html.RenderComponentAsync<ProductLists>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>